{% extends "base.html" %}
{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>

  <hr>

  <h2>{{ person.username }} 가 작성한 영화</h2>
  {% for movie in person.movie_set.all %}
    <div>{{ movie.title }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }} 가 작성한 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }} 가 좋아요한 게시글</h2>
  {% for movie in person.like_movies.all %}
    <div>{{ movie.title }}</div>
  {% endfor %}

  <a href="{% url "accounts:profile" user.username %}">내 프로필</a>
  <p>작성자 : <a href="{% url "accounts:profile" user.username %}">{{ movie.user }}</a></p>

  <div>
    <div>
      팔로잉 : {{ person.followings.all|length }} / 팔로워 : {{ person.followers.all|length }}
    </div>
    {% if request.user != person %}
      <div>
        <form action="{% url "accounts:follow" person.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow">
          {% else %}
            <input type="submit" value="Follow">
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
{% endblock content %}