<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dinner</h1>
    <p>{{ picked }} 메뉴는 {{ picked|length }}글자 입니다. </p>
    <ul>
        {% for food in foods %}
        <li>{{ food }}</li>
        {% endfor %}
    </ul>
    

    {% if foods|length == 0 %}
        <p>메뉴가 소진 되었습니다.</p>
    {% else %} 
        <p>아직 메뉴가 남았습니다.</p>  
    {% endif %}
</body>
</html>