{% extends 'base.html' %}

{% block content %}
  <h1>저자 상세 정보</h1>
  <p>등록 번호 : {{ author.pk }}</p>
  <p>이름 : {{ author.name }}</p>
  <p>나이 : {{ author.age }}</p>
  <p>생년월일 : {{ author.birth }}</p>
  <p>국적 : {{ author.nationality }}</p>
  <hr>
  
  <h3>신규 도서 등록</h3>
  <p><form action="{% url "libraries:books_create" author.pk %}" method="POST">
    {% csrf_token %}
    {{ book_form.as_p }}
    <input type="submit" value='CREATE'>
  </form> </p> 

  <h4>도서 목록</h4>
  {% for book in books %}
  <li>제목: {{ book.title }}</li>
  {% endfor %}


  <a href="{% url 'libraries:index' %}">[BACK]</a>

{% endblock content %}