{% extends "base.html" %} {% block content %}
<h1>CREATE PAGE</h1>
{% comment %} form 태그는 action 속성에 작성된 '주소'로 data를 전송하는 기능
form 태그 내부에 작성된 input tag에 사용자가 작성한 내용을 data로 사용 단
,데이터를 보낼 때는 어떤 데이터인지를 알려줘야 한다. 그래야 여러개의 데이터가
있어도 어디에 넣어야 할지 알 수 있다. {% endcomment %}

{% comment %}
app별로, ulrs.py를 따로 만들고
url 별로 새로운 path 함수를 따로 적어서 관리

app_name: url_name
{% endcomment %}


<form action="{% url "todos:main" %}">
  <input type="text" name="work" />
  <input type="submit" value="제출" />
</form>

{% endblock content %}
