<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <ul>
      <template v-for="todo in todos" :key="todo.id">
        <li :class="{ 'is-completed': todo.isCompleted }">
          <input type="checkbox" v-model="todo.isCompleted">
          {{ todo.text }}
        </li>
        <!-- <li v-if="!todo.isCompleted">
          <input type="checkbox" @click="toogle(todo)">
          {{ todo.text }}
        </li>

        <li v-else class="is-completed">
          <input type="checkbox" checked @click="toogle(todo)">
          {{ todo.text }}
        </li> -->

      </template>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        let id = 0

        const todos = ref([
          { id: id++, text: '생필품 구입', isCompleted: false},
          { id: id++, text: '빨래', isCompleted: true},
          { id: id++, text: '방 청소', isCompleted: false}
        ])

        const toggle = (todo) => {
          todo.isCompleted = !todo.isCompleted
        }
        return {
          todos, toggle
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
