/* StageThree 스타일 */
.stage-three-container {
  padding: 20px;
  text-align: center;
}

.home-button {
  position: fixed; /* 화면의 오른쪽 위에 고정 */
  top: 20px; /* 화면의 위쪽에서 20px 떨어짐 */
  right: 20px; /* 화면의 오른쪽에서 20px 떨어짐 */
  padding: 10px 20px;
  background-color: #f67280;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.home-button:hover {
  background-color: #c06c84; /* 버튼 호버 색상 */
}
