{% extends "base.html" %}

{% block content %}

<h1>INDEX PAGE</h1>

{% for movie in movies %}

<p>{{movie.pk}}. {{ movie.title }}</p>
<p>{{ movie.content }}</p>
<a href="{% url "movies:detail" movie.pk %}">상세 페이지</a>

{% comment %} 좋아요버튼 {% endcomment %}
<form action="{% url "movies:likes" movie.pk %}"method="POST">
  {% csrf_token %}
  {% if request.user in movie.like_users.all %}
    <input type="submit" value='좋아요 취소'>
  {% else %}
     <input type="submit" value='좋아요'>
  {% endif %}
</form>

<hr>
{% endfor %}

{% endblock content %}