/* App.css */

/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffe0b1; /* 배경 색상 */
  font-family: Arial, sans-serif;
}


